[Unit]
Description=Setup iptables for WiFi AP
After=network.target hostapd.service
Wants=hostapd.service

[Service]
Type=oneshot
ExecStart=/sbin/iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
ExecStart=/sbin/iptables -A FORWARD -i eth0 -o wlan0 -m state --state RELATED,ESTABLISHED -j ACCEPT
ExecStart=/sbin/iptables -A FORWARD -i wlan0 -o eth0 -j ACCEPT
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
