[Unit]
Description=Kiosk Mode
Wants=multi-user.target
After=multi-user.target getty@tty1.service

[Service]
Environment=XDG_SESSION_TYPE=wayland
Type=simple
ExecStart=/bin/bash /usr/local/bin/kiosk.sh
Restart=always
RestartSec=3
User=@KIOSK_USER@
Group=@KIOSK_USER@

[Install]
WantedBy=multi-user.target
