JWT_ALGORITHM = "HS256"
# if needed, we can  generate the secret with `openssl rand -hex 32``
JWT_SECRET = 

# FastAPI
APP_ENV=
APP_PORT=

# MQTT
MQTT_BROKER=
MQTT_PORT=
MQTT_KEEPALIVE=

DATABASE_URL=sqlite:////app/database.db
